@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
    overflow-y:scroll;
}

body{
    font-family: 'Roboto', sans-serif;
}

.background{
    background-image: url("../Images/room.png");
    background-repeat: no-repeat;
}
.card{
    background-color: white;
    width: 1300px;
    height: 650px;
    border-radius: 40px;
}
.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -325px;
    margin-left: -650px;
}

.logo{
    width: 200px;
}
.logo-center{
    position: absolute;
    left:5%;
    margin-top: 40px;
}


.inlog{
    margin-top: 30%;
    text-align: center;
    align-items: center;
}
/* INLOGGEN INPUTS*/
.login-field{
    width: 275px;
    height: 30px;
    border: inset 1px #393738;
    padding-left: 20px;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.line{
    position: absolute;
    bottom: 0;
    right: 50px;
    margin-bottom: 68px;
    border: #F3BD27 solid 2px;
    width: 1200px;
    background-color:#F3BD27;
}

.icoontje_uitloggen{
    position: absolute;
    bottom: 0;
    right: 165px;
    margin-bottom: 26px;
    color: #393738;
}

.uitloggen{
    text-transform: uppercase;
    position: absolute;
    text-decoration: none;
    bottom: 0;
    right: 80px;
    margin-bottom: 30px;
    font-weight: bold;
}

.copyright{
    text-decoration: none;
    font-size: 0.85em;
    position: absolute;
    bottom: 0;
    left: 80px;
    margin-bottom: 30px;
    color: #393738;
}
.register{
    font-size: 0.8em;
}
.uitloggen:hover{
    text-decoration: underline;
    color: darkred;
}
.logout:hover{
    color: darkred;
}
/*INLOGGEN BUTTONS*/
a,
a:visited {
    color:#393738;
    text-decoration: underline;
    font-size: 0.9em;
}

.button {
    width: 200px;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
    line-height: 45px;
    color: #FFF;
    border-radius: 5px;
    border:none;
}

.btnOrange {
    background: #F3BD27;
}

.btnFade.btnOrange:hover {
    background: #d29e25;
}

.btn-forgetpassword{
    margin-top: 20px;
}

nav{
    position: absolute;
    right: 50px;
    top: 51px;
    text-transform: uppercase;
    color: #393738;
}

nav>a{
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
}
nav>a.CurrentPage{
    border: #F3BD27 solid 5px ;
    color: #F3BD27;
    font-weight: bolder;
}

.online{
    position: absolute;
    left:5%;
    margin-top: 95px;
}
.green{
    font-weight: bold;
    color: green;
    font-size: 15px;
}

/*      HOME       */
.cardHome{
    width:475px;
    height: 185px;
    background-color: #393738;
    margin-top: 2.5%;
    border-radius: 20px;
    float: left;

}

.topRow{
    margin-top: 11.5% !important;
}
.cardHomeDown{
    margin-top: 2%;
    margin-left:5%;
    width: 89%;
}
.cardLeftHome {
    float: left;
    margin-left: 10%;
}

.cardRightHome {
    float: right;
    margin-right: 10%;
}

.cardHomeTitle{
    font-size: 1.125em;
    color: white;
    text-align: center;
    padding-top:5%;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.cardHomeDownTitle{
    padding-top: 1.8% !important;
}
.cardMiddleHome {
    margin-left: 2.5%;
    margin-right:2.5%;
}
.LichtenRes{
    color: white;
    margin-left: 37.5px;
    margin-top: 15px;
}
.aan{
    float: right;
    color: #00d200;
    font-weight: bolder;
    margin-right: 37.5px;
}

.uit{
    float: right;
    color: red;
    font-weight: bolder;
    margin-right: 37.5px;
}


/*   ZONNEWERING   */
.sunscreen{
    margin-top:10%;
    margin-left:10%;
    height:80%;
}
.material-icons.whiteArrow{
    color:white;
    font-size: 50px;
}

.arrowUp{
    margin-bottom: 250%;
}
.arrows{
    margin-top: 22.5%;
    float: right;
    margin-right: 12.5%;
    width: 10%;
}

/*   VERLICHTING   */
.lightCard{
    width: 475px;
    height: 375px;
    background-color: #393738;
    margin-top: 11.5%;
    border-radius: 20px;

}
.lightCardGraph{
    width: 89%;
    height: 375px;
    background-color: #393738;
    margin-top: 11.5%;
    border-radius: 20px;

}
.cardLeftGraph{
    float: left;
    margin-left: 5%;
}

.cardLeft{
    float: left;
    margin-left: 10%;
}
.cardRight{
    float: right;
    margin-right: 10%;
}

.lightTitle{
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 1.3em;
    text-align: center;
}

sup{
    vertical-align: super;
    font-size: smaller;
}

.zonwering{
    width: 400px;
    height: 375px;
    background-color: #393738;
    margin-top: 11.5%;
    border-radius: 20px;
    float: right;
    margin-right: 10%;
}

.Icon{
    width:30%;
    margin-left: 35%;
    margin-right:35%;
    margin-top:7%;
}
/*WEATHER*/
@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#weather {
    background-color: #393738;
    margin-top: 11.5%;
    border-radius: 20px;
    width: 550px;
    height: 300px;
    padding-top: 75px;
    text-transform: uppercase;
    float: left;
    margin-left: 10%;
}

i {
    color: #fff;
    font-family: weather;
    font-size: 150px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.0;
    text-transform: none;
}

/* ICOONTJES WEER */

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
    margin: 0 0 8px;
    color: #fff;
    font-size: 100px;
    font-weight: 300;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

#weather li {
    background: #fff;
    background: rgba(255,255,255,0.90);
    padding: 20px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 5px;
}

#weather .currently {
    margin: 0 20px;
}

/*     MUZIEK      */
.tblMuziek {
    margin: 0 auto;
    margin-top: 4%;
    font-family: arial, sans-serif;
    color: #FFFFFF;
    border-collapse: collapse;
    width: 90%;
}

.tblMuziek, td, th {
    text-align: center;
    padding: 10px;
    border: 3px solid #fff;
}

.tblMuziek>td, th {
    background-color: #fff;
    color: #393738;
}

/*    GRAFIEKEN    */
.txtGraph{
    color: white;
    width: 40%;
    margin-top: 4%;
    margin-left: 5%;
    float: left;
}
.imgGraph{
    float: right;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    height: 65%;
    width: 40%;
}
.selectGraph{
    width: 250px;
    height: 30px;
    margin-top: 6%;
    margin-left: 5%;
}

/* Contact*/


.contact-field{
    width: 400px;
    height: 30px;
    border: inset 1px #393738;
    padding-left: 20px;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.contact-area{
    width: 400px;
    border: inset 1px #393738;
    padding-top: 7.5px;
    padding-left: 20px;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.contactform{
    margin-top: 11%;
    text-align: center;
    align-items: center;
}
