<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>SecuHome - Home</title>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/reset.css") }}">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/styleB.css") }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="background">
<div class="card centered">
    <a href="{{ url_for('start')}}"><img class="logo logo-center" src="../static/Images/logo/logo.png"></a>
    <p class="online"><span class="green">Online</span>: {% if mail_session %}{{ mail_session }}{% endif %}</p>
    <nav>
        <a href="{{ url_for('home')}}" class="CurrentPage">Home</a>
        <a href="{{ url_for('zonnewering')}}">Zonnewering</a>
        <a href="{{ url_for('verlichting')}}">Verlichting</a>
        <a href="{{ url_for('muziek')}}">Muziek</a>
        <a href="{{ url_for('grafieken')}}">Grafieken</a>
    </nav>
    <div class="cardHome cardLeftHome">
        <h1 class="cardHomeTitle">Zonnewering</h1>
    </div>
    <div class="cardHome cardMiddleHome">
        <h1 class="cardHomeTitle">Verlichting</h1>
    </div>
    <div class="cardHome cardRightHome">
        <h1 class="cardHomeTitle">Muziek</h1>
    </div>
    <div class="cardHome cardHomeDown">
        <h1 class="cardHomeTitle cardHomeDownTitle">Grafieken & Data</h1>
    </div>
    <div class="footer">
        <hr class="line">
        <a href="{{ url_for('logout') }}" class="logout"><i class="material-icons icoontje_uitloggen">exit_to_app</i>
            <p class="uitloggen"> Uitloggen</p></a>
        <p class="copyright">&copy; Arno Van Nieuwenhove - All rights reserved.</p>
    </div>
</div>
</body>
</html>